*{
    padding: 0;
    margin: 0;

}
.main {
    text-align: center;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(0,108,185,1) 100%);
}
.main h1{
    color: white;
    font-size: 60px;
    font-family: 'Nosifer', cursive;
}
.main p{
    color: black;
}
.nav ul{
    list-style-type: none;
}
.nav {
    display: flex;
    justify-content: flex-end;
    background-color: whitesmoke;
    align-items: center;
    border-bottom: coral;
    
}
.botonAccion {
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 90px;
}